[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
pillow = "*"
reportlab = "*"
structlog = "*"
django-ratelimit = "*"
drf-spectacular = "*"
pytest-django = "*"
geopy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
